* {box-sizing: border-box;}
body {
	margin-top: 96px;
}
.nav-wrapper {
	border-bottom: 1px solid #48b563;
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0;

}
.nav-main {
	display: none;
}

.nav-main li {
	border-bottom: 1px solid #f7a274;
	padding: 20px;
}

.nav-main li:last-child {
	border-bottom-style: none; 
}

.nav-main li a {
	display: block;
	padding: 20px;
}

@media all and (min-width: 480px) {
	.nav-main {
		display: block;
	}
	.nav-main li {
		display: inline-block;
		border-bottom-style: none;
	}
	 .is-mobile{
	 	display:none
	 }

}
 
/*.content-whole {
	padding-top: 100px;
}*/


section {
	height: 600px;
	border-bottom: 1px solid black;
}

.content-wrapper {
    
    height: 600px;
    padding-top: 250px;
    /*margin: auto;*/
    background: url('../images/image02.jpg');
    background-repeat: no-repeat;
}

.content-inside {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: rgba(255,255,255,.5);
    font-family: 'Source Sans Pro', sans-serif;

}